.Box{
box-sizing: border-box;
width: 283px;
height: 283px;
left: 100px;
top: 2771px;


}
.BoxesStack{
    justify-content: center;
    align-items: center !important;
}
.Numbers{
font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 64px !important;
line-height: 140%   !important;
}
.Sentence{
font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 24px !important;
line-height: 140% !important;
}
.Numbers1{
    color: #2E90EA;
    font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 64px !important;
line-height: 140%   !important;
}