.Box{
box-sizing: border-box;
width: 283px;
height: 283px;
left: 100px;
top: 2771px;

}
.BoxesStack{
    justify-content: center;
    align-items: center !important;
}
.Numbers{
font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 64px !important;
line-height: 140%   !important;
}
.Sentence{
font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 24px !important;
line-height: 140% !important;
}
.Numbers1{
    color: #2E90EA;
    font-family: 'Manrope',sans-serif !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 64px !important;
line-height: 140%   !important;
}
.BoxGrid :hover{
    box-shadow: 3px 3px 6px;
    border-radius: 5px;
}
.Numbers:hover{
    box-shadow: none !important;
}
.Numbers1 :hover{
    box-shadow: none !important;
}
.Sentence :hover{
box-shadow: none !important;
}
.BoxesStack :hover{
    box-shadow: none !important;
}
@media only screen and (max-width:768px){
    .Numbers{
        font-family: 'Manrope',sans-serif !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 34px !important;
        line-height: 120%   !important;
        }
        .Sentence{
        font-family: 'Manrope',sans-serif !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 120% !important;
        }
        .Numbers1{
        color: #2E90EA;
        font-family: 'Manrope',sans-serif !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 34px !important;
        line-height: 120%   !important;
        }
        .BoxesStack{
            justify-content: center;
            align-items: center !important;
            padding: 10px 20px;
        }
    
}