.parentfooter {
    margin-top: 130px !important;
    
}
.fitbitName2 {
width: 185px !important;
height: 76px !important;
font-family: 'Manrope', sans-serif !important;
font-style: normal;
font-weight: 700 !important;
font-size: 64.1778px !important;
line-height: 118.6% !important;
/* or 76px */


color: #000000 !important;
}
.period2 {
    color: #2E90EA !important;
}
.sociallinks {
    display: flex;
    justify-content: space-between;
    max-width: 142px;
    width: 100%;
    margin-top: 33px !important;
}
.links {
 
width: 180px !important;
height: 29px !important;
font-family: 'Manrope', sans-serif !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 24.0667px !important;
line-height: 118.6% !important;
color: #5F5F5F !important;
white-space: nowrap;
}
.countrybtn {
    background-color: transparent;
    border-radius: 34.0944px !important;
    color: #5F5F5F !important;
    padding: 16.0444px 40.1111px !important;
    max-height: 51.09 !important;
    line-height: 19.25px !important;
    border-color: #5F5F5F !important;
}